<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>froshims0</title>
    </head>
    <body>
        <h1>Register for Frosh IMS</h1>
        <form action="/register" method="post">
            <input name="name" placeholder="Name" type="text">
            <select name="dorm">
                <option disabled selected value="">Dorm</option>
                <option value="Apley Court">Apley Court</option>
                <option value="Canaday">Canaday</option>
                <input type="submit" type="register">
            </select>
        </form>
    </body>
</html>